{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{%static 'main/css/style.css' %}">
    <title>kalash.com</title>
</head>
<body>
    <div class="root">
        <div class="container">
            <div class="navigation">
                <ol>
                    <li><a href="about">About</a></li>
                    <li><a href="http://127.0.0.1:8000/">Home</a></li>
                    <li><a href="http://127.0.0.1:8000/">Projects[</a>
                        <ol>
                            <li><a href="t-join">T-join</a></li>
                            <li><a href="vertical-weld">Vertical Weld</a></li>
                            <li><a href="join">Join]</a></li>
                        </ol>
                    </li>
                </ol>
            </div>
            <div class="first-content">
                <div class="first-content-text">
                    <p >Welcome to my portfolio</p>
                </div>
            </div>
            <div class="second-content">
                <div class="second-content-text">
                    <hr>
                    <h1>About me</h1>
                    <p>Hi, my name is Valerii I am 17 years old, I recently moved from Russia to the USA to the city of Sacramento. And he started studying at the Rio Americano School. In my free time, I like to go out with friends and program.</p>
                </div>
                <div class="second-content-img">

                </div>
            </div>
            <div class="sixth-content">
                <h3>Made by Valerii Kalashnikov</h3>
                <p>2023-now, All rights are reserved</p>
            </div>
            </div>
        </div>
    </div>
</body>
</html>