{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{%static 'main/css/style.css' %}">
    <title>kalash.com</title>
</head>
<body>
<div class="fifth-content">
    <div class="navigation">
        <ol>
            <li><a href="about">About</a></li>
            <li><a href="">Home</a></li>
            <li><a href="http://127.0.0.1:8000/">Projects[</a>
                <ol>
                    <li><a href="t-join">T-join</a></li>
                    <li><a href="vertical-weld">Vertical Weld</a></li>
                    <li><a href="join">Join]</a></li>
                </ol>
            </li>
        </ol>
    </div>
    <div class="fifth-content-img">
    </div>
    <div class="fifth-content-text">
        <hr>
        <h1>T-join</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab commodi dolor dolorum quod sunt. Accusamus fuga mollitia numquam vel voluptatum. Culpa delectus eum facilis fugit harum nihil quia tempora voluptas!</p>
    </div>
</div>
</body>